<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.urizev.bakingapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.list.RecipeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.detail.RecipeDetailActivity"
            android:parentActivityName=".view.list.RecipeListActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.list.RecipeListActivity" />
        </activity>
        <activity android:name=".view.detail.RecipeStepDetailActivity"
                  android:parentActivityName=".view.detail.RecipeDetailActivity"
                  tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.detail.RecipeDetailActivity" />
        </activity>

        <service android:name=".widget.RecipeWidgetService"/>
        <service android:name=".widget.RecipeRemoteViewsService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget" />
        </receiver>

    </application>

</manifest>